<div class=" d-flex justify-content-center">
  <div class="col-3">
    <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="onSbmit()">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input formControlName="email" type="email" id="form2Example1" class="form-control" />
        <label>Email address</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input formControlName="password" type="password" id="form2Example2" class="form-control" />
        <label >Password</label>
      </div>

      <!-- 2 column grid layout for inline styling -->

        <div class="col d-flex justify-content-center">
          <!-- Submit button -->
          <button   type="submit" data-mdb-button-init data-mdb-ripple-init
          class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
    </form>
  </div>
</div>