<div class=" d-flex justify-content-center">
  <div class="col-3">
    <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="onSbmit()">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input formControlName="email" type="email" id="form2Example1" class="form-control" />
        <label>Email address</label>
        <ul>
          <li class="text-danger" *ngIf="loginForm.get('email')?.invalid&&
          loginForm.get('email')?.touched&&
          loginForm.get('email')?.errors!['required']">
          Email is required
        </li>
        <li class="text-danger" *ngIf="loginForm.get('email')?.invalid&&
          loginForm.get('email')?.touched&&
          loginForm.get('email')?.errors!['pattern']">
          Invalid email
        </li>
        </ul>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input formControlName="password" type="password" id="form2Example2" class="form-control" />
        <label >Password</label>
        <ul>
          <li class="text-danger" *ngIf="loginForm.get('password')?.invalid&&
          loginForm.get('password')?.touched&&
          loginForm.get('password')?.errors!['required']">
          Email is required
        </li>
        <li class="text-danger" *ngIf="loginForm.get('password')?.invalid&&
          loginForm.get('password')?.touched&&
          loginForm.get('password')?.errors!['pattern']">
          Invalid email
        </li>
        </ul>
      </div>

      <!-- 2 column grid layout for inline styling -->

        <div class="col d-flex justify-content-center">
          <!-- Submit button -->
          <button [disabled]="loginForm.invalid"  type="submit" data-mdb-button-init data-mdb-ripple-init
          class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
    </form>
  </div>
</div>