

.nav-bar{
  background-color: #f8f9fa;
}

.cart::before{
  content: '5';
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  font-size: 1em;
  text-align: center;
  background: blue;
  color: white;
  top: 5px;
  right: 219px;
  // top: -12px;
  // right: 32px;
}

a{
  text-decoration: none;
  color: black;
  &.active{
    color: orange;
  }
}

.logo{
  cursor: pointer;
}

