<div class="nav-bar d-flex flex-column flex-md-row align-items-center justify-content-between
pb-3 mb-4 border-bottom fixed-top">
  <img class="logo" src="images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">
  <nav class=" d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase"
  style="font-size: larger;">
    <a class="me-3 py-2 link-body-emphasis" routerLink="/" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">home</a>
    <a class="me-3 py-2 link-body-emphasis" routerLink="shop" routerLinkActive="active">shop</a>
    <a class="me-3 py-2 link-body-emphasis" routerLink="test-error" routerLinkActive="active">Error</a>
  </nav>
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="basket" class="cart posiotion-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark mx-3"></i>

    <div *ngIf="basket$ | async as basket" class="cart-no">{{basket.basketItems.length}}</div>
    </a>

    <ng-container *ngIf="(currentUser$ | async)===null as currentUser">
      <a routerLink="/account/login" class="btn btn-outline-secondary mx-3">Sign in</a>
      <a routerLink="account/register" class="btn btn-outline-secondary mx-3">Sign up</a>
    </ng-container>

    <ng-container *ngIf="(currentUser$ | async) as currentUser">
      <!-- <div class="dropdown">
        <a class="dropdown-toggle mx-3" data-toggle="dropdown" >
         <strong><a href="#" class="">Welcome {{currentUser.displayName}}</a></strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenue>
          <a class="dropdown-item">
            <i class="fa fa-shopping-cart">View Cart</i>
          </a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> -->
      <div class="d-flex justify-content-between mx-3">
        <strong><a>Welcome {{currentUser.displayName}}</a></strong>
        <a style="cursor: pointer;" (click)="logOut()" class="mx-3">Logout</a>
      </div>
    </ng-container>

  </div>
</div>
